@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import 'nativewind/theme';

.font-sans {
  font-family: PPNeueMontreal-Regular;
  font-weight: 500;
}

.font-display {
  font-family: PPEditorialNew-Regular;
}
