PUBLIC_APP_STORE_URL=https://apps.apple.com/us/app/kindling-screenshot-gallery/id6801969071
PUBLIC_SUPABASE_URL=https://bfbaqyhyxergcpsyhzcc.supabase.co
PUBLIC_SUPABASE_PUBLISHABLE_KEY=
PUBLIC_POSTHOG_KEY=
PUBLIC_POSTHOG_HOST=
